input[type=file] {
    display: none;
}

table {
    table-layout: fixed;
    border: 2px solid #dee2e6;
}

thead > tr {
    background-color: #ececec;
}

.action-buttons {
    padding: 1px;
}

.file-icon-col {
    min-width: 5%;
}

.file-name-col {
    width: 45%;
}

.file-size-col {
    width: 15%;
}

.file-modified-col {
    width: 20%;
}

.file-tools-col {
    width: 15%;
}

.row {
    margin-top: 1%;
}

#upload-progress-alert, #failure-alert {
    padding-right: 20px;
    position: absolute;
    width: 15%;
    bottom: 1%;
    right: 2%;
}